<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div class="d-flex align-items-center gap-2" routerLink="">
      <img
        src="https://i.postimg.cc/J0WrGpkS/360-F-441732816-Eo3f-Hd-X3o-Im-Kt-Xdk-Ykkt-Cr-R1mbw-AT9-I6-removebg-preview.png"
        alt=""
        style="width: 60px"
      />
      <img
        src="https://i.postimg.cc/nzmmywxW/360-F-441732816-Eo3f-Hd-X3o-Im-Kt-Xdk-Ykkt-Cr-R1mbw-AT9-I6-removebg-preview-1.png"
        alt=""
        style="width: 100px"
      />
    </div>
  </div>
</nav>
